<h1>Proyecto Final: entrega intermedia</h1>
<br>
<br>
<a class="navbar-brand" href="{% url 'AutorList' %}">Mis autores</a>

<a class="navbar-brand" href="{% url 'AutorNew' %}">Crear nuevo autor</a>

{% if not request.user.is_authenticated %}
<a class="navbar-brand" href="{% url 'Login' %}">Login</a>
<a class="navbar-brand" href="{% url 'Register' %}">Registrarse</a>
{% endif %}

{% if request.user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'Logout' %}">Logout</a>
    <a class="navbar-brand" href="{% url 'EditarPerfil' %}">Editar Perfil</a>
    <a class="navbar-brand" href="{% url 'AgregarAvatar' %}">Agregar Avatar</a>
    {% if avatar %}
        <img height="40px" src="{{ avatar }}"/>
    {% endif %}
    <p>Hola, {{ user.username }} !!</p>
{% endif %}



<br>
<br>
{% block inserte_aqui_su_contenido %}
{% endblock %}