<h1>Blog libre de debate</h1>
<br>
<br>
<a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
<a class="navbar-brand" href="{% url 'PaginasList' %}">Blogs</a> 
<a class="navbar-brand" href="{% url 'AutorList' %}">Autores</a> <br>
<a class="navbar-brand" href="{% url 'AutorNew' %}">Crear autor</a>
<a class="navbar-brand" href="{% url 'PaginaNew' %}">Crear blog</a> <br>
<a class="navbar-brand" href="{% url 'AboutMe' %}">About me</a> <br>


{% if not request.user.is_authenticated %}
<a class="navbar-brand" href="{% url 'Login' %}">Login</a>
<a class="navbar-brand" href="{% url 'Register' %}">Registrarse</a>
{% endif %}

{% if request.user.is_authenticated %}
    <a class="navbar-brand" href="{% url 'Logout' %}">Logout</a>
    <a class="navbar-brand" href="{% url 'EditarPerfil' %}">Editar Perfil</a>
    <a class="navbar-brand" href="{% url 'AgregarAvatar' %}">Agregar Avatar</a>
    {% if avatar %}
        <img height="40px" src="{{ avatar }}"/>
    {% endif %}
  

    <p> Su usuario es: {{ user.username }} </p>
    
{% endif %}



<br>
<br>
{% block inserte_aqui_su_contenido %}
{% endblock %}